#business {
    .business__inner-left {
        h2 {
            font-size: 2rem;
            font-weight: 700;
            color: var(--secondary-color);
        }

        p {
            font-size: .9rem;
            color: var(--text-color);
            width: calc(100% - 20px);

        }

        .link__btn {
            width: 178px;
            height: 45px;
            border-radius: 10px;
            background: var(--gradient-theme);
            color: var(--white-color)
        }
    }
}