#reports.report {
    position: relative;

    .sec__inner-imgs {
        img {
            width: 100%;
            margin: auto;
            display: block;
        }


        @media (min-width: 992px) and (max-width:1550px) {

            .bg__img-container {
                position: relative;
                width: 50vw;
                left: -11vw;
                height: 450px;

                &::before {
                    content: "";
                    position: absolute;
                    width: 200px;
                    background: linear-gradient(151deg, #FF6057 0%, #808080 100%);
                    height: 100%;
                    top: -150px;
                    transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);
                    border-radius: 0 170px 0 0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 200px;
                    background: linear-gradient(151deg, #FF6057 0%, #808080 100%);
                    height: 100%;
                    bottom: -150px;
                    z-index: -1;
                    transform: rotate(45deg);
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: -4vw;
                    transform: translate(-4vw, -50%);
                }
            }
        }

        @media (min-width: 992px) and (max-width:1330px) {

            .bg__img-container {
                img {

                    left: -1.5vw;
                    transform: translate(-1.5vw, -50%);
                }
            }
        }

        @media (min-width:1400px) {

            .bg__img-container {
                img {

                    left: -2vw;
                    transform: translate(-2vw, -50%);
                }
            }
        }


    }
}