.custom__inner {
    h2 {
        position: relative;

        color: var(--secondary-color);

        &.heading {
            &::after {
                content: "";
                position: absolute;
                top: -12px;
                background-color: var(--main-color);
                height: 3px;
                width: 79px;
                left: 0;
                border-radius: 10px;


            }
        }
    }

    span {
        color: var(--text-color);

        display: block;
        width: calc(100% - 20px);

        @media (max-width:991px) {
            width: 100%;

        }
    }



    .custom__btn-container {
        width: 260px;


        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: .9rem;
            color: var(--main-color);

            svg {
                font-size: 1.3rem;
            }

        }


    }

    .link__btn {
        color: var(--white-color);
        width: 150px;
        height: 40px;
        background: var(--gradient-theme);
        font-size: 14px;
        font-weight: 500;
        border-radius: 10px;
        padding: 5px 0;
    }

    @media (max-width: 767px) {
        .custom__btn-container {
            width: 200px;

            a {
                font-size: .75rem;

                svg {
                    font-size: .9rem;
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {

        .custom__btn-container {
            width: 230px;

            a {
                font-size: .8rem;

                svg {
                    font-size: 1rem;
                }
            }
        }
    }

    @media (max-width: 991px) {
        text-align: center;

        h2 {
            width: max-content;
            margin-left: auto;
            margin-right: auto;
        }

        span {
            width: 100%;
        }

        .custom__btn-container,
        .link__btn {
            margin: auto;


        }

        .link__btn {
            height: 29px;
            width: 120px;
        }
    }

    @media screen and (min-width: 1400px) {
        h2 {
            font-size: 38px;
            line-height: 49px;

            &.heading {
                &::after {
                    height: 5px;

                }
            }
        }

        span {
            line-height: 24px;

        }

        .custom__btn-container {
            a {

                font-size: 1rem;

                svg {
                    font-size: 1.3rem;
                }

            }
        }

        .link__btn {

            width: 178px;
            height: 45px;
            font-size: 1rem;

        }
    }

}