 #header__navbar {
     padding: 0;
     height: 70px;
     transition: var(--transition);
     position: fixed;

     .menubar {
         box-shadow: none !important;
         padding: 0;
         height: 30px;
         width: 40px;

         span {
             background-color: var(--white-color);
             display: flex;
             height: 2px;
             align-self: flex-end;
             transition: var(--transition);

             &:nth-child(1) {
                 width: 90%;
             }

             &:nth-child(2) {
                 width: 60%;
             }

             &:nth-child(3) {
                 width: 75%;

             }

         }

         &:hover {
             span {
                 width: 100%;
             }
         }
     }

     &.active {
         background-color: #fff;
         box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
         height: 60px;

         .logo {
             background: var(--gradient-theme);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;

             .logo__link {

                 h2 {
                     span {
                         background: var(--gradient-theme);
                         -webkit-background-clip: text;
                         -webkit-text-fill-color: transparent;

                         &::before {
                             background: var(--gradient-theme);
                         }
                     }

                 }


             }

         }

         #offcanvasNavbar-expand-lg {
             a {

                 color: var(--secondary-color)
             }

             .link__btn {
                 a {
                     color: #fff;
                 }
             }
         }

         .menubar {
             span {
                 background-color: none;
                 background: var(--gradient-theme);
             }

         }
     }

     @media (max-width: 767px) {
         height: 50px;

         &.active {
             height: 50px;
         }
     }
 }

 #offcanvasNavbar-expand-lg {
     .offcanvas-header {
         padding-top: 0;
         padding-bottom: 0;
         height: 60px;

     }

     a {
         font-size: 14px;
         text-transform: capitalize;
         color: #fff;
         width: max-content;
         transition: var(--transition);
         line-height: 19px;

         &:not(.link__btn-btn) {
             position: relative;
             height: 100%;

             &::after {
                 content: "";
                 position: absolute;
                 bottom: 0;
                 left: 0;
                 background: var(--gradient-theme);
                 width: 100%;
                 height: 1px;
                 transform: scale(0);
                 transition: var(--transition);
             }

             &:hover {
                 &::after {

                     transform: scale(1);

                 }
             }
         }
     }

     .link__btn-container {
         width: 150px;
         justify-content: flex-end;
         height: 40px;

         .link__btn-btn {
             height: auto;
             background: var(--gradient-theme);
             font-size: 14px;
             font-weight: 500;
             border-radius: 10px;
             padding: 5px 0;
             color: #fff !important
         }

         @media screen and (max-width:991px) {
             width: 120px;
         }
     }

 }

 .logo {
     .logo__link {
         color: var(--white-color);
         transition: var(--transition);

         h2 {
             text-transform: uppercase;
             font-size: 2.5rem;
             font-weight: 700;
             letter-spacing: 1.2px;
             line-height: .9;

             span {
                 position: relative;
                 text-transform: lowercase;
                 font-size: 32px;
                 line-height: 0.5;
                 display: inline-block;
                 line-height: .9;


                 &::before {
                     content: "";
                     position: absolute;
                     top: -2px;
                     left: 50%;
                     transform: translateX(-50%);
                     width: 50%;
                     height: 3px;
                     background-color: var(--white-color);
                     transition: var(--transition);
                 }

                 @media (max-width:767px) {
                     font-size: 1.2rem;

                     &::before {
                         height: 2px;
                         top: 0;
                     }
                 }
             }

             @media (max-width:767px) {
                 font-size: 1.4rem;


             }

         }


     }

 }

 .offcanvasNavbar__container {


     @media (max-width:991px) {
         a {

             color: var(--secondary-color) !important;

         }


         .offcanvas-header {
             .btn-close {
                 box-shadow: none !important;
                 transform: rotate(-180deg);
                 transition: .4s ease-in-out;

                 &:hover {
                     transform: rotate(360deg);
                 }
             }

             .logo {
                 .logo__link {
                     color: var(--secondary-color) !important;

                     h2 {

                         span {

                             &::before {

                                 background-color: var(--secondary-color);
                             }
                         }

                     }


                 }
             }
         }
     }

 }


 @media screen and (min-width:1400px) {
     #header__navbar {

         height: 90px;

         &.active {
             height: 75px;
         }

     }

     #offcanvasNavbar-expand-lg {
         .link__btn-container {
             width: 178px;
             justify-content: flex-end;
             height: 45px;

             .link__btn-btn {
                 font-size: 1rem;

             }

         }

     }

     .logo {
         .logo__link {
             h2 {
                 letter-spacing: normal;
                 font-size: 3.25rem;

                 span {
                     font-size: 3rem;
                     margin-left: 4px;

                     &::before {
                         height: 2px;
                         width: 13px;
                         top: 3px;
                     }

                 }
             }

         }

     }

 }