 #header__navbar {
     padding: 0;
     height: 70px;
     transition: var(--transition);
     position: fixed;


     &.active {
         background-color: #fff;
         box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
         height: 60px;

         .logo {
             background: var(--gradient-theme);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;

             .logo__link {

                 h2 {
                     span {
                         background: var(--gradient-theme);
                         -webkit-background-clip: text;
                         -webkit-text-fill-color: transparent;

                         &::before {
                             background: var(--gradient-theme);
                         }
                     }

                 }


             }

         }

         #offcanvasNavbar-expand-lg {
             a {

                 color: var(--secondary-color)
             }

             .link__btn {
                 a {
                     color: #fff;
                 }
             }
         }
     }

     .menubar {
         box-shadow: none !important;
         padding: 0;
     }

 }

 #offcanvasNavbar-expand-lg {
     .offcanvas-header {
         padding-top: 0;
         padding-bottom: 0;
         height: 70px;
     }

     a {
         font-size: 14px;
         text-transform: capitalize;
         color: #fff;
         width: max-content;
         transition: var(--transition);

         &:not(.link__btn-btn) {
             position: relative;
             height: 100%;

             &::after {
                 content: "";
                 position: absolute;
                 bottom: 0;
                 left: 0;
                 background: var(--gradient-theme);
                 width: 100%;
                 height: 1px;
                 transform: scale(0);
                 transition: var(--transition);
             }

             &:hover {
                 &::after {

                     transform: scale(1);

                 }
             }
         }
     }

     .link__btn {
         width: 178px;
         justify-content: flex-end;

         a {
             width: 120px;
             background: var(--gradient-theme);
             font-size: 14px;
             font-weight: 500;
             border-radius: 10px;
             padding: 5px 0;
             color: #fff;
         }


     }


 }

 .logo {
     .logo__link {
         color: var(--white-color);
         transition: var(--transition);

         h2 {
             text-transform: uppercase;
             font-size: 2.5rem;
             font-weight: 700;
             letter-spacing: 1.2px;


             span {
                 position: relative;
                 text-transform: lowercase;
                 font-size: 35px;
                 line-height: 0.5;
                 display: inline-block;

                 &::before {
                     content: "";
                     position: absolute;
                     top: -4px;
                     left: 50%;
                     transform: translateX(-50%);
                     width: 50%;
                     height: 2px;
                     background-color: var(--white-color);
                     transition: var(--transition);
                 }

                 @media (max-width:767px) {
                     font-size: 1.4rem;


                 }
             }

             @media (max-width:767px) {
                 font-size: 1.5rem;


             }

         }


     }

 }

 .offcanvasNavbar__container {


     @media (max-width:992px) {
         a {

             color: var(--secondary-color) !important;

         }

         .link__btn {
             margin-top: 1rem;

             a {

                 color: #fff !important;
             }




         }

         .offcanvas-header {
             .btn-close {
                 box-shadow: none !important;
                 transform: rotate(-180deg);
                 transition: .4s ease-in-out;

                 &:hover {
                     transform: rotate(360deg);
                 }
             }

             .logo {
                 .logo__link {
                     color: var(--secondary-color) !important;

                     h2 {
                         font-size: 30px;

                         span {
                             font-size: 28px;

                             &::before {

                                 background-color: var(--secondary-color);
                             }
                         }

                     }


                 }
             }
         }
     }

 }