 #techno {
     overflow: hidden;



     .bg__img-container {

         @media (min-width:992px) {

             position: relative;

             .bg__img {
                 transform-origin: center;
                 transform: rotate(249deg);
                 position: relative;
                 right: -30vw;
             }

             .techno__img {
                 position: absolute;
                 top: 50%;

                 transform: translate(-90%, -50%);


             }
         }

         @media (min-width:1400px) {
             .techno__img {
                 width: 700px !important;
                 height: 541px;
             }

             .techno__img {
                 transform: translate(-95%, -50%);
             }
         }

         @media (min-width:1650px) {
             .techno__img {
                 position: absolute;
                 top: 50%;
                 transform: translate(-84%, -50%);
             }

             .techno__img {
                 width: 756px !important;
             }
         }
     }
 }