li.timeline__item {
    margin-bottom: 15px;

    p {
        position: relative;
        font-size: 1rem;
        color: var(--secondary-color);

        &::before {
            content: attr(data-count);
            position: absolute;
            left: -25px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: var(--main-color);
            color: var(--white-color);
            transform: translate(-20px, -50%);
            top: 50%;
            font-size: .9rem;

            @media (max-width:767px) {
                width: 27px;
                height: 27px;
                left: -16px;

            }
        }
    }

    span {
        position: relative;

        color: var(--text-color);

        &::before {
            @extend p;
            top: 0;
            transform: translate(-20px, 0%);
            width: 1px;
            height: 100%;
            left: -10px;
            background-color: #bcbcbc;

            @media (max-width:767px) {
                left: -3px;

            }

        }
    }
}