 .single__solution-inner {
     .icon__container {
         box-shadow: 0px 0px 15px #00000042;
         width: 60px;
         height: 60px;
         border-radius: 50%;
     }

     .solution__title {

         font-weight: 600;
         color: var(--secondary-color);
         padding-bottom: 10px;
         width: max-content;

         &::after {
             position: absolute;
             content: "";
             bottom: -5px;
             background-color: var(--main-color);
             left: 0;
             width: 79px;
             height: 3px;
         }
     }

     span {
         color: var(--text-color);
     }

     @media (max-width: 991px) {
         text-align: center;

         .icon__container,
         .solution__title {
             margin: auto;
         }

         .icon__container {
             width: 50px;
             height: 50px;

             img {
                 width: 23px;
             }

         }
     }

 }