#platform {
    padding: 40px 0;

    .platform__inner-top {
        margin-bottom: 20px;

        p {
            font-weight: 500;
            color: var(--text-color);
        }

        h2 {
            color: var(--secondary-color);

        }

        span {
            text-align: center;
            color: var(--secondary-color);
        }
    }


}