#features {
    h2 {
        color: var(--secondary-color);

        @media (min-width: 992px) {

            margin-bottom: 20px;
        }
    }

    .feature__inner {
        text-align: center;

        h2 {
            color: var(--main-color);

            span {
                font-size: inherit;
            }
        }

        p {
            font-size: .9rem;
            color: var(--secondary-color);
        }
    }
}