#footer {
    background-color: #333;
    color: var(--white-color);
    padding: 25px 0 20px;

    h2 {


        @media (min-width: 768px) {
            margin-top: -10px;
        }
    }

    p {
        font-size: .9rem;

        &.title {
            font-weight: 500;
        }

        @media (max-width: 991px) {
            &:not(.title) {
                font-size: 0.8rem;
            }
        }
    }

    li {
        font-size: 13px;
        margin-bottom: 7px;
        font-weight: none;

        a {
            color: var(--white-color);
            transition: .5s ease-in-out;

            &:hover {
                color: var(--main-color);
            }
        }
    }

    .input__container {
        input {
            border-radius: 25px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: solid 1px #707070;
            background-color: #fff;
            outline: 0;
            font-size: .9rem;
            border-right-color: transparent;
            color: #565656;

            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }

        button {
            border-radius: 25px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border: solid 1px #fff !important;
            font-size: .9rem;
            background-color: var(--main-color);
            transition: var(--transition);
            border-left-color: transparent;

            &:hover {
                background-color: var(--white-color);
                color: var(--main-color);
                border-color: var(--main-color);
            }
        }
    }
}