#testimonial {
    .testimonial__container {

        background: #fff;
        box-shadow: 0px 0px 20px #00000029;
        position: relative;
        border-radius: 5px;
        margin-bottom: 30px;

        .mySwiper {
            position: static;


            .swiper__item {


                img {
                    object-fit: cover;
                    width: 157px;
                }

                .testimonial__inner-info {
                    p {

                        color: var(--secondary-color);
                        font-weight: 500;

                    }

                    span {
                        color: var(--text-color);

                        &.icons__container {
                            color: #CB48F9;
                        }

                        @media (max-width:500px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .swiper-pagination {
            bottom: -35px;
        }
    }
}