.mySwiper {



    .swiper-pagination {
        bottom: 0px;

        span {

            &.swiper-pagination-bullet-active,
            &:hover {
                background-color: var(--main-color);

                opacity: 1;

            }
        }

    }


}