#banner {
    padding-top: 150px;
    background: url("../assets/imgs/banner.png");
    background-size: cover;
    height: 675px;


    .banner__inner {


        .banner__inner-info {
            color: var(--white-color);
            height: 100%;

            h1 {
                font-size: 2.3rem;
                font-weight: 700;
                line-height: 1.2;
            }

            p {
                font-size: 1.2rem;

            }

            span {

                font-size: 1rem;

            }

            .link__btn {
                width: 150px;

                a {
                    height: 40px;
                    border-radius: 10px;
                    background-color: var(--white-color);
                    color: var(--main-color);
                    transition: var(--transition);
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    border: 1px solid var(--white-color);

                    &::after {
                        content: "";
                        position: absolute;
                        right: 0;
                        width: 0;
                        height: 100%;
                        background-color: var(--main-color);
                        transition: var(--transition);
                        z-index: -1;

                    }

                    &:hover {
                        &::after {
                            width: 100%;
                            right: auto;
                            left: 0;
                        }

                        color: var(--white-color);
                    }
                }




            }
        }

    }


    @media (max-width: 767px) {
        .banner__inner {
            margin-top: 1.4rem;

            .banner__inner-info {

                p {
                    font-size: 1rem;
                }

                h1 {
                    font-size: 1.4rem;

                }

                span {
                    font-size: .9rem;


                }


            }

        }

    }

    @media (max-width:991px) {
        padding-top: 60px;
        height: auto;

        .banner__inner {
            .banner__inner-info {
                align-items: center;
                text-align: center;
            }
        }

        .link__btn {
            width: 120px !important;

            a {
                height: 29px !important;
                font-size: 14px !important;

            }




        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .banner__inner {
            margin-top: 2rem;

            .banner__inner-info {


                h1 {
                    font-size: 1.7rem;
                    font-weight: 600;
                }

                span {
                    max-width: 60%;
                }


            }

        }

    }

    @media (min-width:992px) {
        .banner__inner-img {
            img {
                margin-left: 2.5vw;

            }
        }
    }

    @media screen and (min-width:1400px) {
        padding-top: 180px;
        height: 1080px;
        background-position: center;

        .banner__inner {
            .banner__inner-info {
                color: var(--white-color);
                height: 100%;

                h1 {
                    font-size: 58px;
                    font-weight: 700;
                    line-height: 68px;
                }

                p {
                    font-size: 24px;
                    line-height: 32px;

                }

                span {

                    font-size: 18px;
                    line-height: 24px;
                }

                .link__btn {
                    width: 178px;

                    a {
                        height: 45px;


                    }

                }
            }

            .banner__inner-img {
                img {
                    margin-left: 3vw;
                    width: 851px;
                    height: 537px;

                }
            }
        }
    }


}